.fuera {
    background-color: black;
}

.linia {
    border-color: #181818;
    width: 75%
}

.barra {
    display: flex;
    justify-content: end;
    border: 0.1em solid gray;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    padding: 0.5em;
    border: 0.1em solid white;
    margin-inline-end: 1em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.inicio {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    border: 0.1em solid gray;
    text-align: center;
    grid-template-rows: auto;
}

.intro {
    display: flex;
    justify-items: center;
    border: 0em solid gray;
    font-size: 3em;
    align-items: center;
    text-align: center;
    padding-right: 1em;
}

.Segundo {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    border: 0.1em solid gray;
    text-align: center;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "main .";
}


.dos {
    background-color: black;
}

.azul {
    color: #00b8fc;
    font-size: 0.3em;
    border: 0em solid white;
}

.ft {
}

.titulo {
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 25px 25px 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 6em;
    font-family: 'Courier New', Courier, monospace;
}

.un {
    color: gray;
    animation: brillo 3s infinite alternate;
}

@keyframes brillo {
    0% {
      color: rgb(255, 255, 255);
    }
    100% {
      color: #181818;
    }
  }

.tres {
    background-color: #181818;
    color: white;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0em solid black;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.nueve {
    background-color: #181818;
    color: white;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cuadrado {
    display: flex;
    justify-content: space-around;
    border: 0em solid black;
    width: 500px;
    height: 400px;
    flex-wrap: wrap;
    justify-items: center;
}

.gaming {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0.5em;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    border: 0.01em solid gray;
}

.animacion {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: initial;
}

@keyframes slidein {
    from {
      margin-left: 200%;
      width: 150%;
    }
  
    to {
      margin-left: 10%;
      width: 20%;
    }
  }

  
.office {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0.5em;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    border: 0.01em solid gray;
}

.titulotexto {
    display: flex;
    width: 425px;
    height: 100px;
    border: 0em solid black;
    justify-content: space-around;
    color: white;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    text-align: center;
}

.texto {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    height: 100px;
    border: 0.1em solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
} 

.fondotitulo {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 1em;
    padding-right: 1em;
}

.fondo {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.boxfinaltitulo {
    display: flex;
    width: 425px;
    height: 30px;
    border: 0em solid black;
    justify-content: space-around;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    text-align: center;
    border: 0em solid white;
}

.boxfinal {
    background-color: black;
    display: flex;
    border: 0em solid white;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 16em;
}